header {
  width: 100%;
  margin: 0 100px;
}
header .logo, 
header nav a {
  display: inline-block;
}
header nav {
    float: right;
}
header .navigation {
}
header .navigation-link {
  text-transform: uppercase;
  text-decoration: none;
} */
/* .img {
  background-image: url("img.png");
  position: absolute;
  left: 0px;
  top: -177px;
  width: 1500px;
  height: 1264px;
  z-index: 156;
} */
