@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;700&family=Lato:wght@300;700&family=Playfair+Display&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
- Используй выравнивание для кода
- Названия в духе "section-1","section-2"  - очень хорошо подходят для тестовых вещей
  но не для проектной работы
-
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #ffffff;
}

button {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo", sans-serif;
  background-color: #5474fd;
}

.title,
.header__logo,
.logo {
  color: #ffffff;
}

.header {
  background: url("../img/header_bg_img.jpg");
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

.header__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: absolute;
  display: block;
  text-align: center;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 46px;
  letter-spacing: 5px;
  font-weight: 700;
  padding-bottom: 20px;
}

.logo__description {
  font-size: 21px;
  letter-spacing: 7px;
  color: #ffffff;
}

.header__form {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__form-input {
  font-size: 20px;
  width: 60%;
}

.header__form-input::-webkit-input-placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #999999;
  text-align: center;
}

.header__form-input::-moz-placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #999999;
  text-align: center;
}

.header__form-input:-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #999999;
  text-align: center;
}

.header__form-input::-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #999999;
  text-align: center;
}

.header__form-input::placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #999999;
  text-align: center;
}

.header__bottom {
  background-color: #5474fd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  bottom: 0;
  position: absolute;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 200px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item {
  margin-right: 25px;
}

.menu__list-link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu__link {
    display: none;
  }

  .section-1__left {
    width: 100%;
  }
  .section-1__right {
    display: none;
  }

  .left__title {
    font-size: 32px;
  }
  .left__description {
    font-size: 20px;
  }

  .section-2__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1250px;
    min-width: 400px;
    padding: 50px;
  }

  .wrap__subtitle {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  }

  .section-3__container {
    width: 400px;
    height: 500px;
  }

  .box__subtitle {
    font-size: 24px;
  }
  .box__title {
    font-size: 23px;
  }
  .box__description {
    font-size: 20px;
  }

  .section-4__container {
    width: 400px;
    height: 500px;
    -webkit-transform: translate(30%, 50%);
            transform: translate(30%, 50%);
    float: right;
  }

  .box__subtitle {
    font-size: 24px;
  }
  .box__title {
    font-size: 23px;
  }
  .box__description {
    font-size: 20px;
  }

  .section-5 .container__name {
    font-size: 30px;
    padding-top: 70px;
  }
  .section-5 .container__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(7%, 10%);
            transform: translate(7%, 10%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-5 .wrapper__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-5 .wrapper__text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 500px;
    height: 286px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
  }
  .section-5 .text__title {
    text-transform: uppercase;
    font-size: 20px;
    color: #fefefe;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 30px;
  }
  .section-5 .text__description {
    font-size: 18px;
    color: #4b4b4b;
    font-family: "Font Awesome", sans-serif;
  }
  .section-5 .text__description::before {
    content: open-quote;
    font-weight: bold;
    font-size: 36px;
    color: #5474fd;
    float: left;
    line-height: 40%;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */