@media screen and (min-width: 300px) and (max-width: 768px) {
  .header__menu__link {
    display: none;
  }
  .top__navigation {
    display: block;
  }
  .header__menu {
    display: block;
    position: relative;
  }
  .header__menu:active .header__menu__link {
    display: block;
  }
}
