body {
  background-color: #990909;
}
header {
  text-align: center;
}
nav {
  display: inline-flex;
  box-sizing: border-box;
  background-color: black;
  padding: 30px;
  text-align: center;
  height: 100%;
  vertical-align: top;
}
a {
  color: #fff;
}
.section-2 {
  box-sizing: border-box;
  display: inline-flex;
}
.menu-left {
  background-color: #7d0909;
  width: 15%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}
li {
  margin-top: 15px;
  margin-left: 5px;
}
.main-text {
  width: 70%;
  padding: 20px;
}
.menu-right {
  width: 15%;
  background-color: #fff;
  color: black;
  text-align: center;
  margin-top: 10px;
}
.menu-right-title {
  background-color: #bdbdbd;
  margin-top: 0;
}
footer {
  background-color: #e95b11;
  color: #fff;
  text-align: center;
}
