body {
  background-color: #ffe5e5;
}
header {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
header p {
  font-size: 14px;
  font-weight: normal;
}
header h1 {
  width: 50%;
  margin: 0 auto;
  color: #0ec8cb;
  font-size: 40px;
  font-weight: bold;
}
header p:last-child {
  padding: 2% 30%;
  font-size: 20px;
  font-weight: normal;
  color: #999;
}
section {
  width: 100%;
  font-size: 0;
  padding: 10px;
}
section figure {
  display: inline-block;
  width: 24.7%;
  background-color: #f8dede;
  text-align: center;
  padding-top: 80px;
  box-sizing: border-box;
  min-height: 400px;
  max-height: 500px;
  vertical-align: top;
  margin: 10px 0;
}
section figure:hover {
  background-color: #27b4b6;
  color: #f8dede;
}
section figure:hover .shp0 {
  fill: #f8dede;
}
section figure:hover h2 {
  color: #000;
}
section figure:hover figcaption {
  color: #fff;
}
section figure svg {
  height: 64px;
  color: #321818;
}
section figure h2 {
  font-size: 20px;
  color: #958089;
  padding: 15px 60px;
}

section figure figcaption {
  font-size: 16px;
  color: #b59b9b;
  padding: 0 55px;
}
/* .shp0:hover {
  fill: #fff;
} */
